* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
    width: 100vw;
    background-color: grey;
}

.buttons {
    display: grid;
    gap: 30px;
    border-radius: 10px;
    outline: none;
    padding: o;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    border-color: black;
    border: solid 3px;
    
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3 {
    border-radius: 10px;
    outline: none;
    padding: o;
}

